<div style="float: left">
  <table>
    <tr>
      <th>
        name
      </th>
      <th>
        population
      </th>
      <th>
        infected population
      </th>
      <th>
        relation
      </th>
      <th>
        mortality
      </th>
      <th>
        time to recovery
      </th>
      <th>
        time to mortality
      </th>
      <th>
        time of simulation
      </th>
      <th>
        show
      </th>
      <th>
        delete
      </th>
    </tr>
    <tr *ngFor="let simulation of simulations">
      <th>
{{simulation.name}}
      </th>
      <th>
        {{simulation.population}}
      </th>
      <th>
        {{simulation.infectedPopulation}}
      </th>
      <th>
        {{simulation.relation}}
      </th>
      <th>
        {{simulation.mortality}}
      </th>
      <th>
        {{simulation.timeToRecovery}}
      </th>
      <th>
        {{simulation.timeToMortality}}
      </th>
      <th>
        {{simulation.timeOfSimulation}}
      </th>
      <th>
        <button (click)="delete(simulation.id)">delete</button>
      </th>
      <th>
        <a routerLink="/detail/{{simulation.id}}">show</a>
      </th>

    </tr>
  </table>
  <button (click)="create()">CreateNew</button>
</div>
<span style="width: 500px;"></span>
<app-simulation-new *ngIf="createView" ></app-simulation-new>

