<div>
  <form [formGroup]="simulationForm">
    <table>
        <tr>
          <th>
            name
          </th>
          <th>
            <input type="text" name="name"
            formControlName="name"
                   [ngClass]="{'in-valid': !simulationForm.controls['name'].valid
&& simulationForm.controls['name'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['name'].valid
&& simulationForm.controls['name'].touched"> required</th>

          </tr>
        <tr>
          <th>
            population
          </th>
          <th>
            <input type="number" name="population"
            formControlName="population"
                               [ngClass]="{'in-valid': !simulationForm.controls['population'].valid
            && simulationForm.controls['population'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['population'].valid
&& simulationForm.controls['population'].touched"> required, min 1</th>

        </tr>
        <tr>
          <th>
            infected population
          </th>
          <th>
            <input type="number" name="infectedPopulation"
            formControlName="infectedPopulation"
                   [ngClass]="{'in-valid': !simulationForm.controls['infectedPopulation'].valid
&& simulationForm.controls['infectedPopulation'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['infectedPopulation'].valid
&& simulationForm.controls['infectedPopulation'].touched"> required, min 1</th>

        </tr>
        <tr>
          <th>
            relation
          </th>
          <th>
            <input type="number" name="relation"
            formControlName="relation"
                   [ngClass]="{'in-valid': !simulationForm.controls['relation'].valid
&& simulationForm.controls['relation'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['relation'].valid
&& simulationForm.controls['relation'].touched"> required</th>

        </tr>
        <tr>
          <th>
            mortality
          </th>
          <th>
            <input type="number" name="mortality"
            formControlName="mortality"
                   [ngClass]="{'in-valid': !simulationForm.controls['mortality'].valid
&& simulationForm.controls['mortality'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['mortality'].valid
&& simulationForm.controls['mortality'].touched"> required, max 1</th>

        </tr>
        <tr>
          <th>
            time to recovery
          </th>
          <th>
            <input type="number" name="timeToRecovery"
            formControlName="timeToRecovery"
                   [ngClass]="{'in-valid': !simulationForm.controls['timeToRecovery'].valid
&& simulationForm.controls['timeToRecovery'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['timeToRecovery'].valid
&& simulationForm.controls['timeToRecovery'].touched"> required</th>

        </tr>
        <tr>
          <th>
            time to mortality
          </th>
          <th>
            <input type="number" name="timeToMortality"
            formControlName="timeToMortality"
                   [ngClass]="{'in-valid': !simulationForm.controls['timeToMortality'].valid
&& simulationForm.controls['timeToMortality'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['timeToMortality'].valid
&& simulationForm.controls['timeToMortality'].touched"> required</th>

        </tr>
        <tr>
          <th>
            time of simulation
          </th>
          <th>
            <input type="number" name="timeOfSimulation"
            formControlName="timeOfSimulation"
                   [ngClass]="{'in-valid': !simulationForm.controls['timeOfSimulation'].valid
&& simulationForm.controls['timeOfSimulation'].touched}">
          </th>
            <th class="alert" *ngIf="!simulationForm.controls['timeOfSimulation'].valid
&& simulationForm.controls['timeOfSimulation'].touched"> required</th>

        </tr>
        <input type="submit"  (click)="createSimulation()" value="create">
    </table>
  </form>
</div>
