<div *ngIf="simulation">
  <form>
  <h2>{{simulation.name}}</h2>
  <h2 *ngIf="!simulation">Wait...</h2>
    <table>

      <tr>
        <th>
          name
        </th>
        <th>
          <input  id="name" name="name" [(ngModel)]="simulation.name"
                required="required" #name ="ngModel"
          [ngClass]="{'in-valid' : name.invalid}" >
        </th>
        <th class="alert" *ngIf="name.invalid"> required</th>

      </tr>
      <tr>
        <th>
          population
        </th>
        <th>
          <input type="number" name="population"
                 id="population" name = "population"
          [(ngModel)]="simulation.population"  #population ="ngModel"
                 required min="1"  step="1"
                 [ngClass]="{'in-valid' : population.invalid}" >
        </th>
        <th class="alert" *ngIf="population.invalid"> required, min 1</th>

      </tr>
      <tr>
        <th>
          infected population
        </th>
        <th>
          <input type="number" name="infectedPopulation"
                 id="infectedPopulation" name ="infectedPopulation"
          [(ngModel)]="simulation.infectedPopulation" #infectedPopulation="ngModel"
                 min="1" required="required" step="1"
                 [ngClass]="{'in-valid' : infectedPopulation.invalid}" >
        </th>
        <th class="alert" *ngIf="infectedPopulation.invalid"> required, min 1</th>

      </tr>
      <tr>
        <th>
          relation
        </th>
        <th>
          <input type="number" name="relation"
          [(ngModel)]="simulation.relation" #relation = "ngModel"
                 required="required" step="1"
                 [ngClass]="{'in-valid' : relation.invalid}" >
        </th>
        <th class="alert" *ngIf="relation.invalid"> required</th>

      </tr>
      <tr>
        <th>
          mortality
        </th>
        <th>
          <input type="number" name="mortality"
          [(ngModel)]="simulation.mortality" #mortality="ngModel"
                 required max="1"step="0.01" min="0"
                 [ngClass]="{'in-valid' : mortality.invalid}" >
        </th>
        <th class="alert" *ngIf="mortality.invalid"> required, max 1</th>

      </tr>
      <tr>
        <th>
          time to recovery
        </th>
        <th>
          <input type="number" name="timeToRecovery"
          [(ngModel)]="simulation.timeToRecovery" #timeToRecovery = "ngModel"
                 required="required" step="1" min="0"
                 [ngClass]="{'in-valid' : timeToRecovery.invalid}" >
        </th>
        <th class="alert" *ngIf="timeToRecovery.invalid"> required</th>

      </tr>
      <tr>
        <th>
          time to mortality
        </th>
        <th>
          <input type="number" name="timeToMortality"
          [(ngModel)]="simulation.timeToMortality" #timeToMortality= "ngModel"
                 required="required" step="1" min="0"
                 [ngClass]="{'in-valid' : timeToMortality.invalid}" >
        </th>
        <th class="alert" *ngIf="timeToMortality.invalid"> required</th>

      </tr>
      <tr>
        <th>
          time of simulation
        </th>
        <th>
          <input type="number" name="timeOfSimulation"
          [(ngModel)]="simulation.timeOfSimulation" #timeOfSimulation ="ngModel"
                 required="required" step="1" min="1"
                 [ngClass]="{'in-valid' : timeOfSimulation.invalid}" >
        </th>
        <th class="alert" *ngIf="timeOfSimulation.invalid"> required</th>

      </tr>
      <input type="submit"  (click)="saveSimulation()" value="save">

    </table>
  </form>
</div>
