<div>
  <h2>{{simulation.name}}</h2>
  <table>
    <tr>
      <th>
        name
      </th>
      <th>
{{simulation.name}}
</th>
    <tr>
      <th>
        population
      </th>
      <th>
        {{simulation.population}}
      </th>
    </tr>
    <tr>
      <th>
        infected population
      </th>
      <th>
        {{simulation.infectedPopulation}}
      </th>
    </tr>
    <tr>
      <th>
        relation
      </th>
      <th>
        {{simulation.relation}}
      </th>
    </tr>
    <tr>
      <th>
        mortality
      </th>
      <th>
        {{simulation.mortality}}
      </th>
    </tr>
    <tr>
      <th>
        time to recovery
      </th>
      <th>
        {{simulation.timeToRecovery}}
      </th>

    </tr>
    <tr>
      <th>
        time to mortality
      </th>
      <th>
        {{simulation.timeToMortality}}
      </th>

    </tr>
    <tr>
      <th>
        time of simulation
      </th>
      <th>
        {{simulation.timeOfSimulation}}
      </th>


    </tr>

  </table>
</div>
  <button (click)="edit()">Edit</button><br>
<button (click)="backToList()">Back to list</button>
<div style="display: block">

</div>



